*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 74, 74);
    color: white;
    padding: 5px;
}

.nav-title{
    justify-content: left;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-links a{
    color: white;
}

.nav-links li{
    font-size: large;
    list-style: none;
    display: inline;
    margin: 0px 20px 0px 20px;
}

.nav-links button{
    background-color: rgb(101, 186, 214);
    color: white;
    height: 30px;
    width: 100px;
    box-shadow: 2px 2px black;
}